<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Bia: Match Found</title>
		<link rel="icon" type="image/png" href="https://i.ibb.co/SdxwqHd/Untitled-design-1-removebg-preview.png"/>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1><center>MATCH FOUND</center></h1>
		<div>
			<div>
				<img alt="North Dining Hall" class=".center" src="https://i.ibb.co/pwPZrGs/OIP.jpg"></img>
			</div>
			<h1>Name</h1>
			<p>Description</p>
	</div>
	<button class="acceptbut" align="center">Accept</button>
	<button class="declinebut" align="center"> Decline</button>

	</body>
</html>

