{% extends "base.html" %}

{% block content %}
<html>
	<body>
	<div id = "main">
		<form action="profile">
			<button class="button1" align="right">Profile</button>
		</form>
		<h1>Locations</h1>
		<div id = "dhCard">
			<img alt="North Dining Hall" src="https://i.ibb.co/pwPZrGs/OIP.jpg"></img>
			<div>text or something</div>
		</div>
		<br></br>
		<div id = "dhCard">
			<div><img alt="South Dining Hall" src="https://i.ibb.co/FwMZPWN/OIP-1.jpg"></img></div>
			<div>Hello this is text</div>
		</div>
		<form action="dineNow">
			<button class="button2" align="center">DINE NOW</button>
		</form>
	</div>

	</body>
</html>
{% endblock %}
