{% extends "base.html" %}

{% block content %}
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Bia: Find a dinner buddy</title>
		<link rel="icon" type="image/png" href="https://i.ibb.co/SdxwqHd/Untitled-design-1-removebg-preview.png"/>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1><center>Profile</center></h1>
		<div>
			<div>
                <img alt="{{ name }}'s profile picture" class=".center" src="{{ imgSource }}"></img>
			</div>
            <h1>{{ name  }}</h1>
            <p>Groups: {{ groups }}</p>
	    </div>
        <div id="groupSearch">
            
            <form name="groupSearch_form"> 
                <label for="groupQuery">Search groups:</label>
                <input type="text" name="groups" class="field">
            </form>
        </div>
	<button class="button2" align="center">Log Out</button>

	</body>
</html>
{% endblock %}

