{% extends "base.html" %}

{% block content %}
<html>
    <script>

    </script>
	<form action="/">
		<button class="button1" align="right"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
	</form>
	<body id="main">
		<h1><center>Profile</center></h1>
		<div id ="profileCard">
			<div>
				<div>
					<!--<img alt="{{ name }}'s profile picture" class=".center" src="{{ imgSource }}"></img>-->
					<img class="profilePic" src="/static/bia.png"></img>
				</div>
				<h1>{{ name  }}</h1>
				<p>{{ groups }}</p>
			</div>
			<div id="groupSearch">
				<div class="row">
					<div class="wideColumn">
						<input type='text' id="groupInput" onchange="getGroups(this.value);" ();" />
						<form name="groupSearch_form" onclick=getGroups()> </form>
					</div>
					<div class="thinColumn">
						<button class="button3" onclick="getGroups()">Search</button>
					</div>
				</div>
			</div>	

				
            <div id="groupSearchResults">

            </div>
            <br />
            <form name="logOut" onclick=logout()>
				<button class="button2" align="center">Log Out</button>
			</form>
		</div>
	</body>
</html>
{% endblock %}

