* {
    padding: 7;
    margin: 0;
    box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;
}
html{
    font-family: 'auto', Times, serif;
}
body {
	background-color: #fa8072;
	background-size: cover;
	background-position: center;
}
div {
	text-align: center;
	size: "15";
	padding: 15;
}
h1 {
	font-family:verdana;
	font-size:200%;
	color:whitei;
    text-shadow: 1px 1px #ff0000, -1px 1px #ff0000, -1px -1px #ff0000, 1px -1px #ff0000;
}
img {
    margin: 10px 10px 10px 10px;
	border-radius: 50%;
	text-align:center;
    max-width:80%;
}
br {
    display: block;
    margin: 10px 0;
 }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button1 {
     z-index: 1000;
     line-height: 12px;
     font-size: 8pt;
     font-family: tahoma;
     position:absolute;
     top:0;
     right:0;
 }
 .button2 {
     z-index: 1000;
     margin: 0 0 24px;
     padding: 11px 30px 10px;
     background-color: white;
     text-decoration-color: white;
     line-height: 12px;
     width: 50%;
     font-size: 20pt;
     font-family: tahoma;
 }

#main {
    position: relative;
    top: 20%;
    border-radius: 20px;
    margin:auto;
}

#dhCard {
    margin: 0 auto;
    max-width: 75%;
	background: #ffffff;
	border-radius: 20px;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}